body{
  background-color: var(--black_00, #000);
  padding: 0;
  margin: 0;
  font-family: "GmarketSansMedium";
  text-align: center;

}
body *{
  padding: 0;
  margin: 0;
}
header{
  background: #fff;
  height: 72px;

}
/* main{
  height: 400vh;
} */
section{
  width: 100vw;
  height: 100vh;
}

.sec_1{
  overflow: hidden;
}
.mask{
  /* background-color: #b0fffa; */
  /* background:url(images/bg_img/marek-piwnicki-l50UvtsNBMU-unsplash.jpg) center/cover; */
  text-align: center;
  overflow: hidden;
  /* height: 1080px; */
  height: 100%;
}
.mask h2{
  padding: 100px 0 400px;
  font-size: 200px;
  font-weight: bold;
  mix-blend-mode: lighten;
  color: black;
	background-color: white;
  transition: 1s;
  transform-origin: 50% 30%;
  font-family: "GmarketSansMedium";

}
.mask h2.active {
  transform: scale(4.5);
  opacity: 0;
}





.sec_1_after{
    margin-top: -400px;
}
.sec_1_after h2{
  font-size: 100px;
  font-weight: 700;
  /* line-height: 128px; */
  background: var(--gradient-symbol, linear-gradient(46deg, #00FFB3 0%, #00FFB3 11.98%, #00FDE6 27.59%, #00F7F8 42.73%, #00F1FC 55.42%, #63CEFF 63.89%, #B6B6FF 70.81%, #F498FF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec_1_after h3{
  color: #EFEFEF;
  font-size: 82px;
  font-weight: 700;
  line-height: 128px; 
}


.sec_2 h2{
  color: #FFF;
  font-size: 40px;
  font-weight: 500;
  line-height: 72px; /* 100% */
}
.sec_2 h3.active{
  transform: scale(1.2);
  /* transform-origin: 50% 60%; */
  /* opacity: 1; */

}
.sec_2 h3{
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px; /* 100% */
  margin-top: 100px;
  transition: 0.9s;
}


.minus_bg{
  width: 100vw;
  height: 100vh;
  background: #000;
}
.minus {
  /* transform: scale(2.5); */
  transition: 1s;
  transform-origin: 50% 30%;
}
.minus.acitve{
  transform: scale(2.0);
  /* transform-origin: 50% 60%; */
  opacity: 0;
}
.minus_effect{
  background: #fff;
  width: 100vw;
  height: 1080px;
  position: relative;
}

.minus_effect img{
  position: relative;
  left: 200px;
  top:200px;
  width: 70%;

}
.minus_after ul {
  position: relative;
}
.minus_after ul li{
  color: #000;
  text-align: center;
  font-family: "Gmarket Sans TTF";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140% ;/* 100% */
  transition: 0.7s;
  transform-origin: 50% 0;
  /* opacity: 1; */
  /* position: absolute; */
  top:0;
  
}
/* .minus_after li:hover{
  transform: scaleY(0%) translateY(-100%); 
}
.minus_after:hover ul{
  transform: translateY(-33%); 
} */
.minus_after{
  width: 358px;
  height: 77px;
  background: var(--point-color, linear-gradient(46deg, #FFE0F2 0%, #F9E0F7 6.77%, #F1E0FA 20.31%, #E9E1FD 30.21%, #E0E2FF 45.31%, #D7E5FF 56.25%, #CFE8FF 73.11%, #C8EAFF 83.69%, #C0F0FF 88.90%, #B8F5FF 95.39%, #B2FAFF 100%));
  /* overflow: hidden; */
}
.weight{
  color: #000;
  text-align: center;
  font-family: "Gmarket Sans TTF";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140% ;/* 100% */
  transition: 0.7s;
  transform-origin: 50% 0;
  /* opacity: 1; */
}
/* .minus_effect .weight:before{
  content: 'Weight';
  display: block;
}
.minus_effect .weight:after{
  content: '980g';
  display: block;
} */
/* .minus_after .weight:hover{
  transform: scaleY(0%) translateY(-100%); 
} */
/* .minus_after .weight:hover{
  transform: translateY(-33%); 
} */


.plus_effect{
  background:url(../imgs/brand/bg/plus_bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
}
.plus_effect img{
  /* width: 70%;
  height: 70%; */
  margin-top: 400px;
  
}