body {
  padding: 0;
  margin: 0;
  font-family: "Gmarket Sans TTF";
  text-align: center;
  /* overflow: hidden; */
}

header {
  background: #fff;
  height: 72px;
}

.sec_1 {
  overflow: hidden;
  height: 100vh;
  background: #000;
}

.mask {
  /* background-color: #b0fffa; */
  /* background:url(images/bg_img/marek-piwnicki-l50UvtsNBMU-unsplash.jpg) center/cover; */
  text-align: center;
  /* overflow: hidden; */
  width:100vw;
  height: 100vh;
}

.mask h2 {
  padding: 300px 0 400px;
  /* font-size: max(7.5rem, min(5vw, 12.5rem)); */
  font-size: 120px;
  font-weight: bold;
  mix-blend-mode: lighten;
  color: black;
  background-color: white;
  transition: 1s;
  transform-origin: 50% 35%;
  height: 102vh;
}

.mask h2.active {
  transform: scale(5.5);
  opacity: 0;
}

.sec_1_after {
  margin-top: -500px;
  visibility: hidden;
  font-weight: bold;
  line-height: 128px;
  height: 100vh;
}
.sec_1_after.active{
  visibility: visible;
}

.sec_1_after h2 {
  font-weight: 700;
  font-size: max(7rem, min(5vw, 10rem));
  /* background: var(--gradient-symbol, linear-gradient(46deg, #00FFB3 0%, #00FFB3 11.98%, #00FDE6 27.59%, #00F7F8 42.73%, #00F1FC 55.42%, #63CEFF 68.89%, #B6B6FF 70.81%, #F498FF 100%)); */
  background:  linear-gradient(46deg, #00FFB3 0%, #00FFB3 11.98%, #00FDE6 27.59%, #00F7F8 32.73%, #00F1FC 40.42%, #63CEFF 45.89%, #B6B6FF 65.81%, #F498FF 80%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec_1_after h3 {
  color: #EFEFEF;
  font-size: max(6.5rem, min(5vw, 8.2rem));
}
.sec_2{
  height: 100vh;
  background: #000;
  color: #FFF;
}
.sec_2 h2 {
  font-size: 40px;
  font-weight: 500;
}
.sec_2 h3.active {
  transform: scale(1.2);
  /* transform-origin: 50% 60%; */
}
.sec_2 h3 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 100px;
}


.minus_bg,
.plus_bg,
.division_bg,
.multiple_bg{
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minus,
.plus,
.division,
.multiple{
  transition: 1s;
  transform-origin: 50% 50%;
}

.minus.active,
.plus.active,
.division.active,
.multiple.active{
  transform: scale(2.0);
  /* transform-origin: 50% 60%; */
  opacity: 0;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.minus_effect {
  background: #fff;
  width: 100vw;
  height: 250vh;
  position: relative;
}
.effect_wrapper{
  position: sticky;
  top: 0;
  left:0;
  width: 100%;
  height : 100vh;
  overflow: hidden;
}
.effect_wrapper img{
  position: absolute;
  height: 70%;
  width: 70%;
  left: 40%;
  /* object-fit: cover;  원래 비율 유지하며 반응형, 태블릿시에 추가로 바꾸기 나중에  */
}
.minus_after ul{
  position: relative;
}
.minus_after ul li {
  color: #000;
  text-align: center;
  font-family: "Gmarket Sans TTF";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  transition: 0.7s;
  transform-origin: 50% 0;
  /* opacity: 1; */
  /* position: absolute; */
  top: 0;
}

.minus_after {
  overflow: hidden;
  position: relative;
  width: 358px;
  height: 77px;
  background: var(--point-color, linear-gradient(46deg, #FFE0F2 0%, #F9E0F7 6.77%, #F1E0FA 20.31%, #E9E1FD 30.21%, #E0E2FF 45.31%, #D7E5FF 56.25%, #CFE8FF 73.11%, #C8EAFF 83.69%, #C0F0FF 88.90%, #B8F5FF 95.39%, #B2FAFF 100%));
}

.weight {
  color: #000;
  text-align: center;
  font-family: "Gmarket Sans TTF";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  transition: 0.7s;
  position: relative;
  /* transform-origin: 50% 0; */
  /* opacity: 1; */
}
.weight li {
  position: absolute;
  /* transform: scaleY(0); */
}
/* .weight li:first-child{
  transform: none;
  opacity: 1;
} */
.effect_wrapper h2{
  position: relative;
  top:100px;
  color: var(--dark);
  font-size: 64px;
  font-weight: 700;
  visibility: hidden;
}
.effect_wrapper h2.active{
  visibility: visible;
}

.sec_4{
  position: relative;
  /* margin-top: 50vh; */
}
.sec_4 .plus_bg{
 height: 100vh;
}

.plus_open{
  position: relative;
  width: 100vw;
  height: 400vh;
  /* margin-top: 150vh; */
}
.plus_effect {
  background: url(../imgs/brand/bg/plus_bg.jpg) no-repeat center/cover;
  background-attachment: fixed;
  position: sticky;
  top: 0;
  left:0;
  width: 100%;
  height : 100vh;
}
.plus_effect img {
  width: 70%;
  /* margin-top: 100px; */
  object-fit: cover;
  position: absolute;

}




.plus_tt {
  color: #fff;
  text-align: center;
  font-family: "Gmarket Sans TTF";
  font-size: max(2.5rem, min(5vw, 4rem)); /* 64 */
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}
.plus_tt{
  position: absolute;
  top:40%;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.plus_tt h2{
  visibility: hidden;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.55);
}
.plus_tt h2.active{
  visibility: visible;
}
.sec_5, .sec_6{
  /* margin-top: 100vh; */
  z-index: 100;
}

.minus.acitve {
  transform: scale(2.0);
  opacity: 0;
} 
.plus.acitve {
  transform: scale(2.0);
  opacity: 0;
} 
.division.acitve {
  transform: scale(2.0);
  opacity: 0;
} 
.multiple.acitve {
  transform: scale(2.0);
  opacity: 0;
} 



.division_effect{
  height: 100vh;
  background: #0C1B32;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.division_tt{
  color: #FFF;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 100% */
  margin-top: -300px;
  line-height: 1.5;
  position: relative;
  visibility: hidden;
}
.division_tt.active{
  visibility: visible;
}
.division_tt img{
  position: absolute;
  left:52%;
  transform:translateX(-50%);
  bottom: -250px;
}
/* .battery_fill{
  width: 20px;
  height:354px;
} */

/* .multiple_bg{
  height: 100vh;
} */



.multiple_effect{
  height: 100vh;
  background: url(../imgs/brand/bg/multiple_bg.jpg) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.multiple_effect > h2:first-child{
  color: #FFF;

  font-size: max(2rem, min(5vw, 3rem)); /* */
  font-weight: 700;
  line-height: 150%; /* 72px */
}
.multiple_tt{
  display: flex; 
  align-items: center;
  justify-content: center;
}
.multiple_tt h2{
  font-size: max(6rem, min(5vw, 8rem)); /* */
  font-weight: 700;
  margin: 20px;
}



/* .twenty{
  margin-top: 50vh;
} */
.twenty img{
  width: 100%;

}

.sec_7{
  background: #000;
  width: 100vw;
  height: 350vh;
  position: relative;
}
.dolby_wrap{
  position: sticky;
  top: 0;
  left:0;
  width: 100%;
  height : 100vh;
  overflow: hidden;
}
.dolby_wrap img{
  width: 100%;
}

.sec_8{
  height: 100vh;
  color: #000;
  font-size: 84px;
  font-weight: 700;
  line-height: 150%;
}
.sec_8 div{
  display: none;
}
.sec_8 div.active{
  visibility: visible;
}




/* 브랜드스토리 라인업 임시 */
.sec_9 .row div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: var(--border_lg);
  margin-bottom: 12px;

}

.sec_9 .row div .logo {
  height: 32px;
  margin-bottom: 100px;
}

.sec_9 .row div .lineup {
  height: 40%;
}

.img_wrap {
  padding: 48px;
  display: flex;
  /* align-content: space-between; */
  justify-content: space-between;
  width: 100%;
  height: 100%;
  box-shadow: var(--card_shadow);
  background: #EBEBEB;
}