@media (min-width: 1272px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1272px;
    padding: 0;
  }
}


/* main_sec3_brand */
body * {
  margin: 0;
  padding: 0;
}

.main_sec3_brand {
  text-align: center;
  background: var(--gray_bg, #F2F2F2);
}

.brand_wrapper div {
  font-family: "Gmarket Sans";
  font-size: var(--cont_tt);
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
  font-weight: 700;
  border-radius: var(--border_lg, 12px);
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  padding-bottom: var(--base_unit_d, 24px);
  z-index: 1;
}

.brand_wrapper div:nth-child(1) div {
  background: url(../imgs/main/brand/main_brand_01.png) no-repeat center/cover;
}

.brand_wrapper div:nth-child(2) div {
  /* background:url(../imgs/main/brand/main_brand_02.png) no-repeat center/cover ;  */
  background: url(../imgs/main/brand/imgs.png) no-repeat center/cover;
}

.brand_wrapper div:nth-child(3) div {
  background: url(../imgs/main/brand/main_brand_03.png) no-repeat center/cover;
}

.brand_wrapper div:nth-child(4) div {
  background: url(../imgs/main/brand/main_brand_04.png) no-repeat center/cover;
}

.brand_wrapper .brand_cont {
  box-shadow: var(--image_shadow);
  width: 100%;
  height: 100%;
  padding-bottom: calc(var(--base_unit_d) *1.5);
  box-sizing: border-box;
  overflow: hidden;
}

.brand_cont img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  opacity: 0;
  transition: 0.5s;
}

.brand_wrapper .brand_cont:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  opacity: 0;
  transition: 0.3s;
}

.brand_wrapper .brand_cont:hover:before {
  opacity: 1;
}

.brand_wrapper .brand_cont:hover img {
  transform: translateY(-50%) scale(1.2);
  opacity: 1;
}


/* main_sec6_service */
.main_sec6_service .title {
  text-align: left;
  margin-bottom: calc(var(--base_unit_d)*1.5);
}

.main_sec6_service .title a {
  font-size: 18px;
  font-weight: 700;
}

.cs_link {
  margin-bottom: 20px;
}

.main_sec6_service .fa-arrow-right {
  font-size: 20px;
  margin-left: 6px;
  vertical-align: baseline;
}

.main_sec6_service form {
  width: 100%;
  margin-bottom: calc(var(--base_unit_d) * 0.5);
  /* 12 */
}

.main_sec6_service .search_input {
  width: 100%;
  height: 60px;
}

.main_sec6_service .keyword ul {
  gap: 10px;
}

.main_sec6_service .keyword span,
.main_sec6_service .keyword a {
  color: var(--gray_03, #58606a);
  font-size: var(--body_text_unit);
}

.main_sec6_service input {
  width: 100%;
  border: none;
}

.main_sec6_service .faq_btn {
  color: var(--gray_03, #58606a);
  font-size: var(--sub_cont);
  /* 32 */
}

.main_sec6_service .faq_btn:hover {
  color: var(--blue_01);
}

.bx-viewport {
  height: 200px;
}

.main_sec6_service .swiper-wrapper .swiper-slide:hover {
  background: rgba(69, 147, 252, 0.16);
}

.main_sec6_service .swiper-slide svg path {
  fill: var(--dark);
}




/* swiper */
.main_sec6_service .swiper {
  width: 100%;
  /* margin:0 auto; */
}

.main_sec6_service .swiper-slide {
  border-radius: var(--border_lg);
  background: var(--gray_bg, #F2F2F2);
  box-shadow: var(--image_shadow);
  /* width: 290px;
  height: 172px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--blue-02, #3182F6);
  gap: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  /* 100% */
  padding: 32px 0;
}

.main_sec6_service .swiper-button-next,
.main_sec6_service .swiper-button-prev {
  position: absolute;
  color: var(--gray_03);
  top: 50%;
  transform: translateY(-15%);
}

.main_sec6_service .swiper-button-prev {
  left: -40px;
}

.main_sec6_service .swiper-button-next {
  right: -40px;
}

.main_sec6_service .csslider {
  position: relative;
  width: 100%;
}

.main_sec6_service .control_prev img,
.main_sec6_service .control_next img {
  width: 20px;
}

.main_sec6_service .swiper-scrollbar,
.main_sec6_service .swiper-scrollbar.swiper-scrollbar-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -24px;
  width: calc(100% - 20 * var(--swiper-scrollbar-sides-offset, 1%));
}

.main_sec6_service .swiper-scrollbar {
  background: var(--swiper-scrollbar-bg-color, rgba(0, 0, 0, .1));
}

.main_sec6_service .swiper-scrollbar-drag {
  background: var(--blue_02, rgba(0, 0, 0, .5));
}



@media (max-width:1000px) {
  .main_sec6_service .title h2 {
    font-size: calc(var(--body_text_unit)*2.5);
  }
}




/* 태블릿 (해상도 480px ~ 767px) */
@media (min-width:480px) and (max-width:767px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 720px;
  }

  .main_sec6_service .sub_tt {
    font-size: var(--cont_tt);
    text-align: center;
  }

  .main_sec6_service .swiper-slide svg {
    width: 48px;
    height: 48px;
  }

  .main_sec6_service .swiper-slide p {
    font-size: var(--body_sm);
    /* 14 */
  }

  .main_sec6_service .title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_sec6_service .cs_title,
  .main_sec6_service .cs_desc {
    text-align-last: center;
  }

  .main_sec6_service .search_input {
    height: 45px;
    align-items: center;
  }

  .main_sec6_service .faq_btn {
    font-size: var(--body_lg);
    /* 24 */
    line-height: 45px;
  }

  .main_sec6_service .title {
    margin-bottom: calc(var(--base_unit_d)* 0.5);
  }



  .main_sec6_service .swiper-slide div {
    border-radius: var(--border_lg);
    background: var(--gray_bg, #F2F2F2);
    box-shadow: var(--image_shadow);
    width: 183px;
    height: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blue-02, #3182F6);
    gap: 20px;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 100% */
  }

  /* 태블릿 */
  .cs_title {
    font-size: 40px;
    /* 40px */
    margin-bottom: 20px;
    /* 20px */
  }

  .cs_sub_tt {
    font-size: calc(var(--body_text_unit) * 2);
    /* 32px */
    margin-bottom: 40px;
    /* 40px */
  }

  .cs_desc {
    font-size: 18px;
    /* 18px */
    margin-bottom: 30px;
    /* 30px */
  }

  .brand_wrapper {
    padding: 0 20px;
  }

  .main_sec6_service .keyword ul {
    margin-bottom: 20px;
    font-size: 12px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* gap:4px; */
  }

  .main_sec6_service .keyword span,
  .main_sec6_service .keyword a {
    color: var(--gray_03, #286ab9);
    font-size: calc(var(--body_text_unit)*0.9);
  }

}





/* 모바일 (해상도 ~ 479px) */
@media (max-width:479px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 432px;
    padding: 0 24px;
  }

  


}






