/* 현정 - main-sec01 video */
@import "nice-select";

html {
  list-style: none;
}

.main_sec01_video {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.main_sec01_video h2 {
  display: none;
}

.main_video {
  width: 100vw;
}

.video_slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.video_slider div video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.video_pager {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

.video_pager a {
  display: block;
  width: 18px;
  height: 18px;
  margin-bottom: 15px;
  text-indent: -9999px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.video_pager a.active {
  background: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.select_slider li img {
  width: 300px;
  height: 300px;
}

@media (max-width: 767px) {
  .select_slider li img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 479px) {
  .select_slider li img {
    width: 150px;
    height: 150px;
  }
}

a#scroll_btn {
  position: absolute;
  height: 5em;
  width: 3em;
  border: 0.3em solid #fff;
  left: 50%;
  bottom: 3em;
  transform: translateX(-50%);
  border-radius: 3em;
  display: block;
}

a#scroll_sm_btn {
  position: absolute;
  width: 46.86px;
  height: 38.28px;
  background: url("../imgs/main/scrolldown.svg") no-repeat;
  left: 50%;
  bottom: 3em;
  transform: translateX(-50%);
  display: none;
}

a#scroll_btn:before {
  position: absolute;
  content: "";
  margin: auto;
  left: 0;
  right: 0;
  top: 1.2em;
  height: 0.8em;
  width: 0.8em;
  background-color: #fff;
  border-radius: 50%;
  animation: movedown 2s infinite;
}

@keyframes movedown {
  80% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(2em);
    opacity: 0;
  }
}

a#scroll_btn:after {
  position: absolute;
  content: "scrolldown";
  width: 11.5em;
  display: block;
  text-align: center;
  left: -4.2em;
  bottom: -2.5em;
  font-size: 1em;
  color: #fff;
  letter-spacing: 3px;
  font-weight: 600;
}

/* main-sec4-select */
.select-container {
  font-family: "Gmarket Sans TTF";
}
.select-container h2 {
  margin: 0 10px;
}
.select-option {
  padding-bottom: 62px;
}
.product_btn {
  width: 216px;
  /* line-height: 62px; */
  padding: 20px 0px;
  font-size: var(--body_lg);
  font-weight: 700;
  margin-bottom: 96px;
}
/* footer */
footer {
  background: var(--gray-04, #333d4b);
  padding-bottom: 50px;
}

.footer_sns_wrap {
  padding: 21px 0;
  border-bottom: 1.5px solid var(--white_00);
}

.footer_sns_wrap ul {
  margin-bottom: 0;
}

.footer_sns_wrap ul li {
  list-style: none;
  width: 40.27px;
  height: 40.27px;
  margin-right: 20px;
  cursor: pointer;
}

.footer_sns_wrap ul li:first-child {
  background: url("../imgs/footer/sns_icon_youtube.svg");
}

.footer_sns_wrap ul li:nth-child(2) {
  background: url("../imgs/footer/sns_icon_facebook.svg");
}

.footer_sns_wrap ul li:nth-child(3) {
  background: url(" ../imgs/footer/sns_icon_insta.svg");
}

.footer_sns_wrap ul li:nth-child(4) {
  background: url("../imgs/footer/sns_icon_naver.svg");
}

.footer_sns_wrap ul li:last-child {
  background: url("../imgs/footer/sns_icon_company.svg");
}

.footer_sns_wrap ul li:hover:first-child {
  background: url("../imgs/footer/sns_icon_youtube_b.svg");
}

.footer_sns_wrap ul li:hover:nth-child(2) {
  background: url("../imgs/footer/sns_icon_facebook_b.svg");
}

.footer_sns_wrap ul li:hover:nth-child(3) {
  background: url("../imgs/footer/sns_icon_insta_b.svg");
}
.footer_sns_wrap ul li:hover:nth-child(4) {
  background: url("../imgs/footer/sns_icon_naver_b.svg");
}

.footer_sns_wrap ul li:hover:last-child {
  background: url("./imgs/footer/sns_icon_company_b.svg");
}

.footer_sns_wrap .footer_langs {
  color: var(--white_00, #fdfdfd);
  width: 138px;
  border: 1px solid var(--white_00);
  text-transform: uppercase;
  margin-right: 33px;
}

.footer_sns_wrap .footer_langs span {
  line-height: 38px;
  margin-right: 10px;
  cursor: pointer;
}

.footer_sns_wrap .footer_langs span:hover:first-child,
.footer_sns_wrap .footer_langs span:hover:last-child {
  color: var(--blue_01);
}

.footer_sns_wrap .footer_langs span:last-child {
  margin-right: 0;
}
.footer_info_link_wrap ul {
  list-style: none;
  padding: 33px;
}
.footer_info_link_wrap ul li {
  cursor: pointer;
  padding-top: 10px;
  flex: 1/1;
}

.footer_info_link_wrap ul li a {
  color: var(--white-bg, #fdfdfd);
  font-size: var(--body_text_unit);
  font-weight: 600;
  line-height: 1.4;
}

.footer_info_link_wrap ul li:hover a {
  text-decoration: underline;
}

.footer_info_text_wrap {
  color: var(--white-bg, #fdfdfd);
  padding: 0 33px;
}

.footer_info_text_wrap p {
  padding-bottom: 24px;
}

.footer_info_text_wrap p:first-child {
  padding-bottom: 6px;
}
@media (max-width: 1272px) {
  .select-wrap h2 {
    font-size: var(--sub_cont);
  }
  .select-wrap select option {
    font-size: var(--body_lg);
  }
  .footer_info_link_wrap ul {
    flex-wrap: wrap;
    font-size: 14px;
  }
  .footer_info_link_wrap ul li {
    flex: 1 0 50%;
  }
}

@media (max-width: 767px) {
  .select-wrap h2 {
    font-size: var(--body_lg);
  }

  .select-wrap select {
    font-size: var(--body_text_unit);
  }
}

@media (max-width: 479px) {
  .select-wrap h2 {
    font-size: var(--body_md);
  }

  .select-wrap select {
    font-size: var(--body_sm);
  }
}

/* 현정 - main-sec01 video end*/
