/* Layout, All */
.container{
  max-width: 1272px;
  margin: 0 auto;
}
main > section{
  padding-top: calc(var(--base_unit_d) * 5);
}
main h3, main h4{
  font-family: 'Gmarket Sans TTF';
  font-weight: bold;
  padding: 0 0 var(--base_unit_d) var(--base_unit_d);
}
main h3{
  font-size: max(2.4rem, min(3.5vw, 3.2rem));
}
main h4{
  font-size: var(--bd_size_01);
}
main img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--border_lg);
}

/* Banner */
.banner{
  padding: calc(var(--base_unit_d)*3) 0;
}
.banner .title_box{
  position: relative;
  /* margin: 0 auto; */
}
.banner .logo{
  margin: 0 auto;
  width: 454px;
  height: 120px;
  background: url('../imgs/jammyG/jammyG_logo.svg') no-repeat;
  text-indent: -9999em;
  padding-bottom: var(--base_unit_d);
}
.banner .title_box p{
  position: absolute;
  top: 110px; right: calc(50% - 130px);
  font-family: 'Gmarket Sans TTF';
  font-weight: bold;
  font-size: var(--tt_size_03);
}

/* jammyG_sec01 */
.jammyG_sec01{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 24px;
}
.jammyG_sec01 img{
  height: 360px;
}
.jammyG_sec01 .sec01_box{
  position: relative;
}
.jammyG_sec01 .sec01_box p{
  position: absolute;
  bottom: 0; 
  right: 0;
  text-align: right;
  margin: 0 20px 20px 0;
  line-height: 1.4;
  font-family: 'Gmarket Sans TTF';
  font-size: var(--bd_size_04);
  color: var(--white_00);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.30);
}

/* jammyG_sec02 */
.jammyG_sec02 .talk_box{
  display: grid;
  grid-template-columns: 1.8fr 1.1fr 1.1fr 1.1fr;
  grid-template-rows: auto;
  gap: 24px;
}




.custom{
  padding-bottom: calc(var(--base_unit_d) * 7);
}

@media (max-width: 1320px){
  main{padding: 0 24px;}
}