/* Layout, All */
body{
  background: var(--black_00);
  color: var(--white_00);
}

/* jammyIs_sec01 */
.jammyIs_sec01{
  width: 100%;
  height: 100vh;
  text-align: center;
}
.jammyIs_sec01 .top_BG img{
  object-fit: cover;
  width: 100%;
}
.jammyIs_sec01 .content{
  height: 80%;
  /* height: 100vh; */
}
.jammyIs_sec01 .arrow_btn{
  display: inline-block;
  width: 46.86px;
  height: 38.28px;
}








/* jammyIs_sec02 */

/* jammyIs_sec03 */

/* jammyIs_sec04 */