@media (min-width: 1272px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1272px;
    padding: 0;
  }
}
body * {
  scrollbar-width: none;
}

/* title 시작 */
.title {
  color: var(--dark, #1e2226);
}
.tt_01{
  font-size: 48px;
}
.cs_desc{
  font-size: 24px;
  margin-top: max(2rem, min(3vw, 3.6rem));
  margin-bottom: 0;
}
.big_pd{
  padding: 72px 0;
}
.search_bar {
  padding: 0 10px max(1.6rem, min(3vw, 2.4rem));
}
.search_bar p {
  font-size: max(1.3rem, min(3vw, 1.6rem)); 
}
.search_bar span {
  font-weight: 500;
}
.search_bar form {
  width: 50%;
  gap: 16px;
}

.search_bar form label {
  display: none;
}
.search_bar .search_btn {
  width: 20%;
  height: 40px;
  font-size: 16px;
  border-radius: 8px;
}
.search_bar input {
  width: 80%;
  box-sizing: border-box;
}
/* title 끝 */
/* main 시작 */
main{
  margin-bottom: max(10rem, min(3vw, 16rem));
}
.notice{
  width: 100%;
  border-top: 2px solid var(--blue_02);
  border-bottom: 2px solid var(--blue_02);
}
.accordion-item {
  color: #595959;
}
.accordion-button {
  padding: max(1.8rem, min(3vw, 2.4rem)) max(1rem, min(3vw, 4.8rem));
  position: relative;
}
.accordion-button .notice_tt {
  font-size: max(1.6rem, min(3vw, 1.7rem));
  vertical-align: baseline;
  font-weight: 400;
  width: 60%;
}
.accordion-button span {
  margin-right: max(2rem, min(3vw, 4rem));
  font-size: 14px;
  font-weight: 300;
  color: #595959;
}
.date {
  position: absolute;
  right: max(3rem, min(3vw, 6rem));
}
.accordion-button:focus .notice_tt {
  font-weight: 700;
  color: var(--blue_02);
}
.accordion-button:not(.collapsed) {
  color: none;
  box-shadow: none;
}
.accordion-button:focus .accordion-item {
  border: var(--bs-accordion-border-width) solid var(--blue_01);
  border-bottom: 2px solid var(--blue_01);
}
.accordion-button:not(.collapsed) {
  color: var(--blue_02);
  background-color: #fff;
}
.accordion-body {
  font-size: max(1.4rem, min(3vw, 1.6rem));
  padding: 50px 80px;
  border-top: 1px solid rgba(49, 147, 249, 0.5);
  border-bottom: 1.5px solid rgba(49, 147, 249, 0.5);
  line-height: 1.7;
}
.accordion-button:focus {
  z-index: 3;
  border-color:none;
  outline: 0;
  box-shadow: none;
}
.active > .page-link,
.page-link.active {
  color: var(--blue_01);
  background-color: rgba(69, 147, 252, 0.1);
}
.page-link {
  position: relative;
  display: block;
  padding: 5px 10px;
  font-size: 16px;
  color: var(--gray_02);
  border: none;
  border-radius: 4px;
}
.page-link:focus {
  color: var(--blue_01);
  background-color: rgba(69, 147, 252, 0.1);
}
.page_wrap {
  margin-top: calc(var(--base_unit_d) * 3);
}
.more_link {
  display: inline-block;
  margin-top: calc(var(--base_unit_d) * 1.5);
  color: #8b99b8;
  text-decoration-line: underline;
}

@media (min-width:800px) {
  .notice_tt{
    width: 80%;
  }
  }

/* 태블릿 (해상도 480px ~ 767px) */
/* @media (min-width: 480px) and (max-width: 767px) { */
@media (max-width: 767px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 720px;
  }
  .title {
    gap: 20px;
    padding: calc(var(--base_unit_tm) * 3) 0;
  }
  
  .tt_01{
    font-size: 40px;
  }
  .cs_desc{
    font-size: 18px;
    width:70%;
    text-align: center;
  }
  .big_pd{
    padding: 40px 0;
  }
  }
  .notice_tt{
    width: 65%;
    line-height: 1.4;
  }
  
  .search_bar form {
    gap: 8px;
  }
  .search_bar .search_btn {
    font-size: 14px;
    border-radius: 8px;
  }


/* 모바일 (해상도 ~ 479px) */
@media (max-width: 479px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 432px;
  }
  .title {
    padding: calc(var(--base_unit_tm) * 3) 0 calc(var(--base_unit_tm) * 2);
  }

  .tt_01{
    font-size: 32px;
  }
  .cs_desc{
    font-size: 16px;
    width:55%;
    line-height: 1.4;
  }
  .big_pd{
    padding: 32px 0;
  }
  .search_bar {
    padding: 0 10px var(--base_unit_tm);
    font-size: calc(var(--body_sm) * 0.8);
  }
  .search_bar form {
    width: 60%;
  }
  .search_input{
    border-radius: 4px;
  }
  .search_bar .search_btn {
    width: 52px;
    height: 40px;
    font-size: 14px;
    border-radius: 4px;
  }
  .notice_tt{
    width: 45%;
    line-height: 1.4;
  }
  .accordion-button {
    padding: 12px 8px;
  }
}
