.container h1 {
  display: none;
}

.search_container {
  padding-top: 120px;
  background: var(--gray_00);
}

.search_bar {
  width: 662px;
  padding: 15px 20px;
  border: 2px solid var(--gray_03, #58606a);
  border-radius: var(--border_lg);
  margin-bottom: 30px;
}

.search_bar input {
  font-size: var(--bd_size_02);
  background: var(--gray_00);
  border: none;
  width: 80%;
}

.search_bar input::placeholder {
  color: var(--gray-01, #b0b8c1);
  font-size: var(--bd_size_02);
  font-weight: 700;
}

.search_bar i {
  font-size: max(2rem, min(3vw, 3rem));
  color: var(--gray_03);
}

.filter_text {
  font-size: max(2rem, min(3vw, 3.2rem));
}

.filter_section {
  max-width: 1054px;
  border-radius: var(--border_md);
  background: var(--white-bg, #fdfdfd);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 30px 0 60px 0;
  position: relative;
}

.item {
  width: 189px;
  height: 48px;
  margin: 0 2px 0 2px;
}

.filter_type h2,
.filter_price h2,
.filter_color h2 {
  font-size: var(--bd_size_02);
  font-weight: 700;
  margin: 33px 0 18px 22px;
}
.input_wrap {
  margin: 0 28px;
  flex-wrap: wrap;
}

label {
  height: 48px;
  border: 2px solid var(--gray-03, #58606a);
  border-radius: var(--border_lg);
  background-color: var(--white_00);
  display: block;
  position: relative;
  text-align: center;
  line-height: 48px;
  font-size: var(--bd_size_02);
  margin-right: 5px;
  margin-bottom: 13px;
  cursor: pointer;
}

.input_wrap span {
  width: 25%;
}

.input_wrap span.checked label {
  background: var(--blue_01);
  color: var(--white_00);
  border: none;
}

/* 버튼에 액티브 끝 */

.input_wrap label:hover {
  font-weight: 700;
  border: 2px solid var(--dark, #58606a);
}

.input_wrap label.active {
  background: var(--blue-01);
}

.input_wrap span input {
  display: none;
}

.reset_btn_wrap {
  width: 100%;
  height: 158px;
}

.reset_btn {
  width: 216px;
  height: 58px;
  margin: 50px 0;
  cursor: pointer;
  border-radius: var(--border_md);
  background: var(--blue_01, #4593fc);
  border: 2px solid transparent;
  color: var(--white_00);
  font-size: 2.4rem;
  font-weight: 700;
}

.reset_btn:hover {
  background: var(--blue_02, #4593fc);
}

/* card count */
.length_wrap {
  font-size: 20px;
}

.result_length {
  font-size: var(--bd_size_04);
  font-weight: 600;
  line-height: 150%;
}

/* card ui css */

.cards-container {
  background: var(--white_00);
}
.card {
  width: 400px;

  box-shadow: 0px 5px 18px -7px rgba(228, 228, 228, 0.4);
  border-radius: var(--border_lg);
  background: #fff;
  margin: 0 12px 38px 12px;
}

.card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_list {
  justify-content: center;
}

.card_img_wrap {
  border-radius: 12px 12px 0px 0px;
}

.card_img_wrap img {
  width: 345px;
  border-radius: 12px 12px 0px 0px;
}
.result_length {
  margin-top: 70px;
}
.card_text {
  text-align: center;
  padding: 36px 34px 36px 34px;
}

.card_text p {
  font-weight: 400;
  font-size: 16px;
}

.product_num {
  color: var(--dark, #1e2226);
  line-height: 1.4;
}

.product_title {
  color: var(--dark, #1e2226);
  font-size: var(--bd_size_02);
  font-weight: 700;
  padding: 26px 0 37px 0;
}

.product_desc1,
.product_weight {
  color: var(--gray-03, #58606a);
  line-height: 1.4;
}

.review {
  padding: 24px 0 38px 0;
  color: var(--gray-03, #58606a);
  line-height: 1.4;
}

.review span {
  display: inline-block;
  transform: translateY(-1.5px);
  margin-left: 5px;
}

.product_cost {
  color: var(--blue-02, #3182f6);
  font-size: var(--bd_size_02);
  font-weight: 700;
  margin-bottom: 25px;
}

@media (max-width: 1270px) {
  label {
    margin: 7px 5px;
  }
  .search_bar {
    width: 90%;
  }
  .filter_section {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .search_bar {
    width: 70%;
  }
  .input_wrap span {
    width: 33%;
  }
}

@media (max-width: 480px) {
  .input_wrap span {
    width: 50%;
  }
  .card {
    width: 432px;
    height: 740px;
  }
  .card_img_wrap img {
    width: 380px;
    height: 320px;
  }

  .product_cost,
  .product_title {
    font-size: 2.4rem;
  }
}
