/* story_section01~09공통 */
section{
  width: 100%;
  height: 100vh;
}
.story_section01 h2,.story_section02 h2,.story_section05 h2{
  display: none;
}
.story_section01, .story_section02, .story_section05{
  background-color: var(--black_00);
  color: var(--white_00);
  font-size: var(--tt_size_01);
  font-family: "Gmarket Sans";
  font-weight: bold;
}
.story_section01 span, .story_section02 span, .story_section05 span{
  background: var(--point_gr_01,linear-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story_section03 h2,.story_section04 h2,.story_section06_influencer h2, .story_section07_creator h2, .story_section08_student h2, .story_section09_office h2{
  font-size: var(--tt_size_01);
  font-family: "Gmarket Sans";
  font-weight: bold;
  text-align: center;
}
.story_section06_influencer>p, .story_section07_creator>p, .story_section08_student>p, .story_section09_office >p{
  font-size: var(--bd_size_01);
  font-family: "Gmarket Sans";
}
.story_section03 h2 span,.story_section04 h2 span{
  display: block;
  margin-top: var(--base_unit_d)*2/3;
}
/* story_section01 */
.story_section01 div>*{
  margin-bottom: var(--base_unit_d);
}
/* story_section02 */
.story_section02{
  background-color: var(--black_00);
  color: var(--white_00);
  text-align: center;
}
.story_section02 span{
  display: block;
  font-size: var(--tt_size_02);
}
.story_section02 img{
  height: 92px;
}
.story_section02 img:first-child{
  margin-right: var(--base_unit_d);
}
.story_section02>*{
  margin-bottom: calc(var(--base_unit_d)*2);
}
/* story_section03 */
.story_section03{
  height : 100vh; 
  position: relative;  
  overflow: hidden; 
}
.story_section03 h2{
  position: absolute;
  color: var(--white_00);
}
.story_section03 .full-bg {
  width: 100%;
  height : 100%; 
  position: absolute;
}
.story_section03 .full-bg video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* story_section04 */
.story_section04{
  background:linear-gradient(#353535 25%,#222 46%,#212121 70%,#272727 100%);
}
.story_section04{
  height : 100vh; 
  position: relative;  
  overflow: hidden; 
}
.story_section04 h2{
  position: absolute;
}
.story_section04 .full-bg {
  height : 80%;
  bottom: 0; 
  position: absolute;
}
.story_section04 .full-bg video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* story_section06_influencer */
.story_section06_influencer{
  background-color: var(--gray_00);
}
.story_section06_influencer h2{
  background: linear-gradient(90deg, #FFABBB 0%, #9DC9FF 50%, #C498FF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story_section06_influencer img{
  width: 10%;
}
/* story_section07_creator */
.story_section07_creator{
  background-color: var(--white_00);
}
.story_section07_creator h2{
  background: linear-gradient(90deg, #B6DB87 0%, #76C3F4 50%, #E38BDD 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story_section07_creator img{
  width: 10%;
  display: flex;
  float: left;
}
/* story_section08_student */
.story_section08_student{
  background-color: var(--gray_00);
}
.story_section08_student h2{
  background: linear-gradient(90deg, #FFAEE4 0%, #D7A3F6 50%, #B6DB87 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story_section08_student img{
  width: 10%;
}
/* story_section09_office */
.story_section09_office h2{
  background: linear-gradient(90deg, #E3DE51 0%, #5FC95F 50%, #2B673D 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.story_section09_office{
  background-color: var(--white_00);
}
.story_section09_office img{
  width: 10%;
}